html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
	--ps-FFB606:#FFB606;
	--ps-3A3A3A:#3A3A3A;
	--ps-F8F9FB:#F8F9FB;
	--ps-EAEBEC:#EAEBEC;
	--ps-FFFFEF:#FFFFEF;
	--ps-1A1A1A:#1A1A1A;
	--ps-FFFFFF:#ffffff;
	--ps-ECECEC:#ececec;
}
.mg150{
	margin:0 150px;
	padding:0 15px;
}
.pd117{
	padding:117px 0;
}
.pd86{
	padding:86px 0 0 0;
}
.pd76{
	padding:117px 0 76px 0;
}


